{% extends 'teste.html' %}

{% block content %}

<div class="p-5 mb-4 bg-dark rounded-3">
    <div class="container-fluid py-5 ">
      <h1 class="display-5 fw-bold text-white">PROGRAMA DE DOAÇÃO DE ALIMENTOS</h1>
      <p class="col-md-8 fs-4 text-white">O prodea é um programa que se baseia na Lei Nº 14016, de 23 de Junho de 2020, e tem como objetivo facilitar a doação de alimentos a entidades beneficentes.</p>
      <a class="btn btn-light btn-lg" href="{{ url_for('cadastre')}}"
       role="button">Cadastre uma entidade</a>
       <a class="btn btn-light btn-lg" href="{{ url_for('entidades')}}"
       role="button">Entidades participantes</a>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-black bg-light rounded-3">
        <h2>Conheça a lei</h2>
        <p>Ainda não conhece a lei Nº 14016? </p>
        <a class="btn btn-outline-secondary" href="https://www.in.gov.br/web/dou/-/lei-n-14.016-de-23-de-junho-de-2020-263187111"
       target="_blank" role="button">Saiba mais</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Conheça o projeto</h2>
        <p>O que é o PRODEA?</p>
        <a class="btn btn-outline-secondary" href="{{url_for('prodea')}}" role="button">saiba mais</a>

        </button>
      </div>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-muted border-top">
    &copy; 2021
  </footer>
</div>
</main>

{% endblock %}