{% extends 'base.html' %}

{% block content %}

<main class="px-3">
    <h1>PROGRAMA DE DOAÇÃO DE ALIMENTOS</h1>
    <p class="lead">Projeto baseado na LEI Nº 14.016, DE 23 DE JUNHO DE 2020, o PRODEA visa insertivar as pessoas a doarem alimentos que seriam desperdiçados, desde que esses ainda estejam própios para uso. Além de facilitar a comunicação entre potenciais doadores e as entidades
    </p>
    <p class="lead">
        <a class="btn btn-primary" href="https://www.in.gov.br/web/dou/-/lei-n-14.016-de-23-de-junho-de-2020-263187111" target="_blank" role="button">Conheça a lei</a>
    </p>
  </main>

  {% endblock %}